PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@doschei-postgres.doschei.svc.cluster.local:5432/doschei
JWT_SECRET=change-me-in-real-environments
DB_SYNC=true
SEED_ON_STARTUP=false
CORS_ORIGIN=http://doschei.127.0.0.1.nip.io
